@charset "UTF-8";

*
{
    box-sizing : border-box;
    margin : 0;
    padding : 0;
}

html,
body
{
    height : 100%;
    width : 100%;
}

/*

*/

::-webkit-scrollbar
{
    height : 100%;
    opacity : 0;
    position : fixed;
    right : 0;
    top : 0;
    width : 12px;
}

::-webkit-scrollbar-track
{
    background-color : white;
}

::-webkit-scrollbar-thumb
{
    background-color : grey;
    border-radius : 6px;
    width : 100%;
}

::-webkit-scrollbar-thumb:hover
{
    background-color : red;
}

/*

*/

p,
h1,
h2,
h3,
h4,
h5,
h6
{
    color : white;
    margin : 0;
    padding : 0;
}

h2 { font-size : calc(2rem / 100 * 75); }

a
{
    color : black;
    text-decoration : none;
}

a:hover
{
    color : red;
}

footer
{
    background : grey;
    background : linear-gradient(135deg, grey, black);
    margin : 0;
    padding : 0;
}

footer>section
{
    margin : 0 auto;
    padding : 1rem 0 0 0;
    width : calc(100% - 9rem);
}

article>div
{
    background-color : rgba(255, 255, 255, .1);
    border : calc(1rem / 16) solid rgba(255, 255, 255, .2);
    border-radius : calc(1rem / 4);
    padding : 1rem;
}

iframe
{
    border-radius : calc(1rem / 4);
    box-shadow :
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/*

*/

.thumbnail-content
{
    position : relative;
}

.transform-scale,
.thumbnail-content:hover .thumbnail-picture
{ 
    -moz-transform : scale(1.5);
    -ms-transform : scale(1.5);
    -o-transform : scale(1.5);
    -webkit-transform : scale(1.5);
    transform : scale(1.5);
}

.thumbnail-content,
.thumbnail-background
{
    overflow : hidden;
}

.thumbnail-background,
.thumbnail-picture,
.thumbnail-filter,
.thumbnail-caption
{
    height : 100%;
    left : 0;
    position : absolute;
    top : 0;
    width : 100%;
}

.thumbnail-picture
{
    background-position : center;
    background-size : cover;
}

.thumbnail-filter
{
    background-color : #000000;
    opacity : 0;
}

.thumbnail-caption
{
    display : flex;   
    justify-content : center;
    flex-direction : column;
    flex-wrap : nowrap;
    opacity : 0;
    padding : 1rem;
}

.rotate
{
    transform : rotate(180deg);
}

.thumbnail-filter,
.thumbnail-picture,
#background,
#btn-arrow-left,
#btn-arrow-right,
#btn-arrow,
#btn-close,
#btn-facebook,
#btn-instagram,
#btn-messenger,
#btn-whatsapp,
#btn-youtube,
#content,
#inner
{    
    -moz-transition : all .25s ease-in-out;
    -ms-transition : all .25s ease-in-out;
    -o-transition : all .25s ease-in-out;
    -webkit-transition : all .25s ease-in-out;
    transition : all .25s ease-in-out;
}